# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [ 16.x ]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: cd /root/actions-runner-backend/_work/v-contact-backend/v-contact-backend; pm2 stop index.js; npm install;

#  pm2 start index.js
#      - run: cd /root/server/v-contact-backend; pm2 stop index.js
#      - run: rm -rf /root/server/v-contact-backend
#      - run: mv /root/actions-runner-backend/_work/v-contact-backend/v-contact-backend /root/server/v-contact-backend
#      - run: cd /root/server/v-contact-backend;
#      npm install
#      pm2 start index.js
